
<h3>Conver here</h3>

<div class="viewport__block">
  <span>{{ course1 }}</span>

  <span>To</span>

  <span>{{ course2 }}</span>

  <span>=</span>

  <span>{{ numberFromInput * coursesObj[course1 + 'To' + course2] }}</span>
</div>

<div class="convertor">

  <div class="convertor__selections">
    <div class="convertor__block--1">
      <select
        name="select"
        id="select"
        [(ngModel)]="course1"
      >
      <option *ngFor="let value of arraySelect" [value]="value">
        {{value}}
      </option>
    </select>
  </div>

  <div class="convertor__block--2">
    <select
      name="select"
      id="select"
      [(ngModel)]="course2"
    >
      <option *ngFor="let value of arraySelect" [value]="value">
        {{value}}
      </option>
    </select>

  </div>
  </div>

  <input
    type="number"
    [(ngModel)]="numberFromInput"
  >
</div>
